@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@600&family=Poppins&family=Quicksand&display=swap');

*{
    text-decoration: none;
    color: #fff;
}

input{
    font-family: montserrat;
}

body{
    text-decoration: none;
    color: #fff;
    font-family: montserrat, poppins;
    margin: 0px;
    padding: 0px;
    /* color: #000000; */
    /* background-image: url(../assets/login_bg_img.jpg); */
    background-image: url(../assets/bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
     /* background-size: cover; ////*/
}
#container{
    /* border: 1px solid red; */
    width: 60%;
    margin: auto;
    /* max-height: 100vh;
    margin-right: -10px; */
}

#logo{
    display: flex;
    align-items: center;
    margin-left: 15%;
    font-size: 1.3rem;
    /* justify-content: space-evenly; */
    /* border: 1px solid black; */

}


#logo>img{
    width: 15%;
    background-color: white;
}
#logo h2{
    font-size: 30px;
}
#logo span{
    font-size: small;
}

#left{
    margin: auto;
    margin-top: 70px;
    width: 100%;
}

#leftmaincont>h1{
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: -15px;
}

#leftmaincont{
    color: white;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
    /* background-color: aqua; */
    /* width: 48%; */
    margin-left: 249px;
    width:39%;

    /* margin: auto; */
    margin-top: -14px;
    text-align: left;
    border: 1px solid black;
    padding: 20px;
    border-radius: 8px;
    padding-bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}




.rcheck{
    font-size: medium;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    border-radius: 5px;
    background-color: white;
    border-width: 1px;
    margin-bottom: 8px;

}

form>p{
    font-weight: 500;
    margin-bottom: 5px;
}

form{
    margin-bottom: -30px;
}

#right{
    width:38%;
    height: 100vh;
}

#right>img{
    width: 100%;
    height: 100vh;
}


form{
    display: flex;
    flex-direction: column;  
}


#continue{
    font-size: medium;
    width: 101%;
    padding-top: 14px;
    padding-bottom: 14px;
    text-decoration: none;
    border-radius: 5px;
    font-family: montserrat;
    background-color:#2C74B3;
    border-width: 0px;
    margin-bottom: 30px;
    margin-top: 10px;
    color: white;
}

#continue:hover{
    background-color: #144272;
    color:rgb(255, 255, 255)
}

#forgot:hover{
    cursor: pointer;
}

#forgot{
    font-weight: 400;
    color: #0073ef;
    margin-bottom: -2px;

}

#gbtn>img{
    width: 15px;
}

#gbtn{
    background-color: #2C74B3;
    font-family: montserrat;
}

#gbtn:hover{
    cursor: pointer;
    background-color: #144272;
}

#or{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.echeck{
    font-size: medium;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    border-radius: 5px;
    background-color:#704949;
    color: white;
    border-width: 1px;
    margin-bottom: 30px;
    margin-top: 10px;
}

#spanid{
    color: #0073ef;
}

@media screen and (max-width:700px){
    #container{
        max-width: 30vw;
    }
    body{
        background-image: none;
    }
}